body {
  background-color: #555555;
}
#currentCard,
#faveCard {
  color: black;
  background: lightgrey;
}
#toggleF {
  color: #a160b4;
}

#darkCurrentCard {
  color: #a160b4;
  background: rgb(44, 44, 44);
}
#darkFaveCard {
  color: white;
  background: rgb(44, 44, 44);
}
label {
  color: red;
}
#dayCard {
  background: rgba(127, 183, 197, 0.363);
}
#nightCard {
  background: rgba(134, 166, 197, 0.3);
}
