body {
  background-color: #555555;
}
#currentCard,
#faveCard {
  color: black;
  background: lightgrey;
}
#darkCurrentCard {
  color: #a160b4;
  background: rgb(44, 44, 44);
}
#darkFaveCard {
  color: white;
  background: rgb(44, 44, 44);
}

#dayCard {
  background: rgba(130, 222, 245, 0.1);
}
#nightCard {
  background: rgba(134, 166, 197, 0.3);
}
